.array-value {
  font-size: small;
  text-align: center;
}

.array-bar {
  width: 18px;
  margin: 0 3px;
}

.compare-bar {
  width: 8px;
  margin: 0 1px;
}

.button {
  margin-left: 10px;
}

.compare-cards {
  margin: 10px;
}
